@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: 'PyeongChangPeace-Bold';
    text-align: center;
    background-color: black;
    color: rgb(152, 251, 213);
}